@model LivrosTeste.Models.Serie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Desejar apagar esse resgistro ?</h3>
<div>
    <h4>Series e Franquias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Lista de Series</a>
    </form>
</div>
